.header_logo {
    width: 107px;
    object-fit: contain;
    margin: 17px 0 0 21px;
}


.h_searchInp::placeholder {
    padding: 10px;
    font-size: 15px;
    font-family: Arial Unicode MS;
    font-weight: lighter;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 20px;
}

.h_searchInp {
    height: 40px !important;
    border-radius: 3px 0 0 3px;
    width: 100%;
    border: none;
}

.header_searchicon {
    padding: 0 10px 0 10px;
    height: 40px !important;
    background-color: orange;
    border-radius: 0 3px 3px 0;
}

.header-nav {
    display: flex;
    align-items: center;
    padding: 6px;
}

.h_option {
    padding: 15px;

    @media (max-width: 600px) {
        display: none;
    }

}

.h_optioncart {
    padding: 15px;
    display: flex;
}

.h_o_one {

    color: white;
    font-size: 13px;

    @media (max-width: 600px) {
        display: none;
    }

}

.h_o_two {

    color: white;
    font-size: 15px;
    font-weight: 700 !important;

    @media (max-width: 600px) {
        display: none;
    }

}

.h_o_carticon {
    color: white;
    padding-right: 5px;
    width: 30px !important;
    height: 30px !important;

}

.h_o_count {
    color: rgb(212, 146, 21);
    font-size: 15px;
    font-weight: 700 !important;
    margin-top: 10px;

}


.logo-span {
    color: white;
    object-fit: contain;
    margin: 0 20px 0 0;
    font-weight: 1100;

}

.header {
    background-color: #0F1111;
    height: 68px;
    width: 100%;
    align-items: center;
    display: flex;
    position: sticky;
    margin: 0;
    z-index: 100;

    @media (max-width: 400px) {

        background-color: #0F1111;
        height: 68px;
        width: 1370px;
        align-items: center;
        display: flex;
        position: sticky;
        margin: 0;
        z-index: 100;

    }
}

.comp h1 {
    margin: 0;
    /* Remove any default margins */
    font-size: 40px;
    /* Font size for the header title */
}

.comp nav {
    width: 20%;
}

.comp nav a {

    text-decoration: none;
    color: blanchedalmond;
    margin-right: 10px;
}

.btn {
    background-color: white;
    width: 8%;
    border-radius: 30px;
    border: none;
}